_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*.log
*.set
*.str
*.dat
*.in
*.nta
*.final
_simulation/100nm/solve_tmp1
_simulation/100nm/solve_tmp2
_simulation/100nm/solve_tmp3
_simulation/100nm/solve_tmp4
*.xml
